body{
    color: white;
    /* background-color: black; */
    background: url("../images/LIC-night.JPG");
    background-size: 100%;
   

}

#gameTitle{
    font-size: 500%;
}

#start{
    font-size: 20px;
}

.answers-dom:hover{
background-color: rgb(12, 77, 135);

}

/* .trivia-dom{
opacity: 80%;
} */

